project_name = "{{ project_name }}"
root_domain_name = "{{ root_domain_name }}"
cluster_name = "{{ cluster_name }}"
email = "{{ email }}"
hello_world_repo = "{{ hello_world_repo }}"
argocd_hostname = "{{ argocd_hostname }}"
hello_world_hostname = "{{ hello_world_hostname }}"
hello_world_tls_secret = "{{ hello_world_tls_secret }}"
grafana_hostname = "{{ grafana_hostname }}"
grafana_pwd = "{{ grafana_pwd }}"
grafana_tls_secret = "{{ grafana_tls_secret }}"
slack_webhook = "{{ slack_webhook }}"
slack_channel = "{{ slack_channel }}"
